<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" type="text/css" href="static/css/mapdiv_style.css"/>

    <!-- Basic Page Needs
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="static/css/mapdiv_style.css"/>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flu-Trakr</title>
    <meta name="description" content="FLU-TRAKR is a student project based on the idea of tracking instances of the flu via twitter.">
    <meta name="keywords" content="Flu, Influenza, Tracking, Project, Student">
    <meta name="author" content="David Dunne">

    <!-- Favicon
    ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">


    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/bootstrap.css')}}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.css')}}">

    <!-- Slider
    ================================================== -->
    <!--<link href="{{ url_for('static', filename='css/owl.carousel.css')}}" rel="stylesheet" media="screen">-->
    <!--<link href="{{ url_for('static', filename='css/owl.theme.css')}}" rel="stylesheet" media="screen">-->

    <!--JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>


  <!-- Google Map Heatmap
    ================================================== -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?
        key=AIzaSyDoTep3hq7DQR8takQhFVM1YVyzvXOLbLA&libraries=visualization"></script>

    <script type="text/javascript" src="{{ url_for('static', filename ='js/map/updateMap.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename ='js/map/google_heat_map.js')}}"></script>
    <script src = "static/js/map/google_heat_map.js"></script>
    <script src = "static/js/map/playTimeline.js"></script>

    <!-- Statistics Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename ='js/statistics/stats.js')}}"></script>

    <!-- chart.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename ='js/statistics/weeklyChart.js')}}"></script>

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css')}}">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/static/js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body onload="initMap(), updateSlider()">

    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top on">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Flu-TRAKR</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">Home</a></li>
            <li><a href="#tf-about" class="page-scroll">About</a></li>
            <li><a href="#tf-meetFluTrakR" class="page-scroll">Map View</a></li>
            <li><a href="#tf-services" class="page-scroll">Statistics</a></li>
            <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1>Welcome to <strong><span class="color">Flu_TrakR</span></strong></h1>
                <p class="lead">Tracking <strong>Influenza</strong> Using <strong>Twitter</strong></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- https://pixabay.com/p-18656/?no_redirect -->
                    <img src="/static/img/02.jpg" width="55%" alt="Sneezing woman" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title center">
                            <h2><strong>about</strong></h2>
                            <div class="line">
                                <hr>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">Influenza is a contagious illness that attacks the respiratory organs and
                                            in doing so claims the lives of many people throughout the world yearly.</p>
                        <p class="intro">In this modern age of connectivity and information sharing, is it possible to
                                            make use of social media to track instances of Influenza?
                                            This project was set up in order to research this possibility.</p>
                        <p class="intro">
                            <div class = "table-responsive">
                                <table class = "table">
                                    <tr><td colspan="2"><h3>The Facts About Influenza</h3></td></tr>
                                    <tr><td><strong>Duration</strong></td><td><ul><li>5 - 7 Days</li></ul></td></tr>
                                    <tr><td><strong>Symptoms</strong></td>
                                        <td>
                                            <ul>
                                                <li>High Temperature</li>
                                                <li>Sore Throat</li>
                                                <li>Muscle Pains</li>
                                                <li>Fatigue</li>
                                                <li>Headache</li>
                                                <li>Sometimes more serious illness which may be life-threatening</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr><td><strong>Deaths Annually</strong></td><td><ul><li>200 - 500 (Ireland)</li><li>250,000 - 500, 000 (Worldwide)</li></ul></td></tr>
                                </table>
                            </div>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=====================================
        -------- Flu-TrackR Visual --------
    ==========================================-->
    <div id="tf-meetFluTrakR" class="text-center">
        <div class="overlay">
            <div class="container" style ="width:90%">
                <div class="section-title center">
                    <h2><strong>Map View</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <!-- =====================================
                        -------- Filters --------
                ==========================================-->

                    <!-- Location Filter --------
                    ==========================================-->
                    <div id = "search_filter_area" class="mapFilterSpaceLarge">
                        <input type='text' name='searchmap' id='searchmap' placeholder='Search Location' title = "Type search location and press enter">
                        <input class = "mapBtn" id="searchMapBtn" type="button" value="Search"
                               onclick="moveToLocation()">
                    </div>

                    <!-- =====================================
                            -------- Time Filter --------
                    ==========================================-->

                    <div id = "time_filter_area" title = "Slide left/right to view this months data" class="mapFilterSpaceLarge">
                        <div id="time_filter_label"></div>
                        <input type="range" id="time_filter"  min="1" max="30" step="1" value="1"/>

                    </div>


                    <!-- =====================================
                            -------- Play last 30 days -------
                    ========================================== -->
                    <div id ="play_filter_area" class="mapFilterSpace">
                        <button  class = "mapBtn" id="play">Last 30 Days<i class="fa fa-play fa-lg" style="margin-left:25px"></i></button>
                    </div>
                </div>
                <div id ='map_container' title='Click hotspots to view tweet text'></div>
                <div id ='text_display'></div>
            </div>
        </div>
    </div>

    <!-- Stats Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2><strong>Statistics</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Take a look at the numbers so far</em></small>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <div id="all_time" class="circle"></div>
                    <h4><strong>All Time</strong></h4>
                    <p>Number of self diagnosed cases of Influenza recorded since launch.</p>
                </div>
                <div class="col-md-3 col-sm-6 service">
                    <div id="this_year" class="circle"></div>
                    <h4><strong>This Year</strong></h4>
                    <p>Number of self diagnosed cases of Influenza recorded this year.</p>
                </div>
                <div class="col-md-3 col-sm-6 service">
                    <div id="this_month" class="circle"></div>
                    <h4><strong>This Month</strong></h4>
                    <p>Number of self diagnosed cases of Influenza recorded this month.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <div id="today" class="circle"></div>
                    <h4><strong>Today</strong></h4>
                    <p>Number of self diagnosed cases of Influenza recorded today.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Graph Section
    ==========================================-->
    <div id="tf-works">
        <div class="container">
            <div class = "row">
                <div class = "chart_title">Numbers Per Week 2016</div>
                <canvas id="weekly_chart" style = "width:100%"></canvas>
            </div>
        </div>
    </div>

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="section-title center">
                            <h2>Feel free to <strong>contact me</strong></h2>
                            <div class="line">
                                <hr>
                            </div>
                            <div class="clearfix"></div>
                            <small><em>We value any input or ideas you may have to share.
                                        Please feel free to contact us with any suggestions you may have.</em></small>
                        </div>

                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail">Message</label>
                                <textarea id="exampleInputEmail" class="form-control" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn tf-btn btn-default">Submit</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal"><!-- Used for loading image --></div>
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by <a href="https://dribbble.com/shots/1817781--FREEBIE-Spirit8-Digital-agency-one-page-template">Robert Berki</a> and Coded by <a href="https://dribbble.com/jennpereira">Jenn Pereira</a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>




    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/SmoothScroll.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.isotope.js')}}"></script>

    <script src="{{ url_for('static', filename='js/owl.carousel.js')}}"></script>

    <!-- Javascripts
   <!-- ================================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>