{% extends "base.html" %}
{% block body %}
<div class = "header">
     <div class = "titleCaption">
            <h1>{{ the_title }}</h1>
     </div>
    <div class="navigation">
        <ul class="nav nav-pills" style="float:right;">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li class = "optinalLink" role="presentation"><a href="#">Link 1</a></li>
            <li role="presentation"><a href="#">Link 2</a></li>
            <li role="presentation"><a href="#">Link 3</a></li>
            <li role="presentation"><a href="#">Link 4</a></li>
            <li role="presentation"><a href="#">Link 5</a></li>
            <li role="presentation"><a href="#">Link 6</a></li>
        </ul>
    </div>
</div>
<div class = "main_content_pane">
    <p>
        Lorem ipsum dolor sit amet, vel te malorum maiestatis delicatissimi, ei natum soluta has. Eam utroque detraxit persecuti an, vim vero altera eloquentiam in. An eam possim eloquentiam, feugiat splendide repudiandae pro ei, vix oporteat maiestatis ad. Mei perfecto intellegam id, ut periculis cotidieque ius.
        Vix sapientem sadipscing ex. Duo altera utamur et, illud consequuntur eu ius. Pro malorum dolorum et, per in nihil homero. Nec deserunt scripserit ea, ius ea homero evertitur, et duo equidem fuisset hendrerit. Duo te alia agam euripidis, eu mundi tibique periculis mei.
        Vide latine per ne. Ea pro alia mediocrem explicari. Nec harum causae invidunt an. Ut eum amet postea, ad nec munere antiopam. Integre ornatus mei et, quo eu docendi placerat.</p>
    </p>
    <p>
        Choro dicant consequuntur no sed, eum doctus sententiae honestatis te. Ceteros scribentur mel id, mel eu nemore definitiones. Duo fugit omnium cu. Integre nonumes dolores cum at. Nec at mutat senserit pericula, vel an doming sanctus copiosae, nec an iisque quaeque. Quod nibh no vis.
        Est ad fugit integre accusam. Ei nec populo fabulas delectus, ea enim euripidis quo, ea mea quod elit maiorum. Id vix amet viderer percipit, expetenda consulatu no nam, aperiri reprimique inciderint eos at. Ceteros invenire pri ei, eam ea brute elaboraret conclusionemque. Erant mnesarchum ex est, est nonumy persius consequat et.
    </p>
</div>
{% endblock %}